###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Config files
[*.{xml,json,yml,yaml}]
indent_size = 2

###############################
# Visual Studio Spell Checker #
###############################

[*]
vsspell_section_id = 484a77584dd64a119b1fb8b038d40eae
vsspell_additional_dictionary_folders_484a77584dd64a119b1fb8b038d40eae = .
vsspell_dictionary_languages_484a77584dd64a119b1fb8b038d40eae = en-US