---
layout: default-raw
---
<div class="home-top-container">
    <div class="ukraine-container">
        <h2>Atata stands with Ukraine</h2>
        <br />
        <p class="text-center">
            In solidarity, please consider financially support Ukraine
            (<a href="https://u24.gov.ua/">UNITED24</a>,
            <a href="https://savelife.in.ua/en/donate-en/">"Come Back Alive" fund</a>)
            or check out other ways to <a href="https://war.ukraine.ua/support-ukraine/">support Ukraine</a>.
        </p>
    </div>

    <div class="home-top-inner-container">
        <h1 class="home-header">{{ site.title }}</h1>
        <div class="text-center home-description">
            <p>{{ site.description }}</p>
        </div>
        <div class="home-primary-links text-center">
            <a class="btn btn-default" href="{{ site.links.atata_github }}">Atata on GitHub</a>
            <a class="btn btn-default" href="{{ site.links.atata_nuget }}">Atata on NuGet</a>
            <a class="btn btn-default" href="/getting-started/">Get Started</a>
        </div>
    </div>
</div>
<div class="at-docs-container">
    <div class="container-fluid home-container-fluid">
        <h2 class="page-header home-header">
            <a href="/blog/">News</a>
        </h2>
        <div class="row post-list">
            {% for post in site.posts limit:3 %}
            <div class="col-sm-4">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="meta">
                    <span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
                </p>
                {{ post.excerpt }}
            </div>
            {% endfor %}
        </div>

        <h2 class="page-header home-header borderless">
            <span class="glyphicon glyphicon-fire"></span>
            <a href="/upgrade/to-atata-3/">Upgrade to Atata 3</a>
        </h2>

        <h2 class="page-header home-header">Features</h2>
        <div class="row">
            <div class="col-sm-4">
                <h3>WebDriver</h3>
                <p>Based on <a href="https://github.com/SeleniumHQ/selenium">Selenium WebDriver</a> and preserves all its features.</p>
            </div>
            <div class="col-sm-4">
                <h3>Page Object Model</h3>
                <p>Provides a unique fluent page object pattern, which is easy to implement and maintain.</p>
            </div>
            <div class="col-sm-4">
                <h3>Components</h3>
                <p>Contains a rich set of ready-to-use <a href="/components/">components</a> for inputs, tables, lists, etc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Integration</h3>
                <p>Works on any .NET test engine (e.g. NUnit, xUnit, SpecFlow) as well as on CI systems like Jenkins, GitHub Actions, or TeamCity.</p>
            </div>
            <div class="col-sm-4">
                <h3>Triggers</h3>
                <p>A bunch of <a href="/triggers/">triggers</a> to bind with different events to extend component behavior.</p>
            </div>
            <div class="col-sm-4">
                <h3>Verification</h3>
                <p>A set of fluent assertion methods and triggers for a component and data verification.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Configurable</h3>
                <p>
                    Defines the default component search strategies as well as additional settings.
                    <a href="{{ site.links.atata_configuration_json_github }}">Atata.Configuration.Json</a> provides flexible JSON configurations.</p>
            </div>
            <div class="col-sm-4">
                <h3>Reporting/Logging</h3>
                <p>Built-in customizable logging; screenshots and snapshots capturing functionality.</p>
            </div>
            <div class="col-sm-4">
                <h3>Extensible</h3>
                <p>
                    <a href="{{ site.links.atata_htmlvalidation_github }}">Atata.HtmlValidation</a> adds HTML page validation.
                    <a href="{{ site.links.atata_bootstrap_github }}">Atata.Bootstrap</a> and <a href="{{ site.links.atata_kendoui_github }}">Atata.KendoUI</a> provide extra components.
                </p>
            </div>
        </div>
        <h2 class="page-header home-header">Usage</h2>
        <em>Simple example for <a href="https://demo.atata.io/signin">Sign In</a> page.</em>
        <h3>Define Page Object Class</h3>
        <div class="row home-usage-section">
            <div class="col-lg-6">
                {% capture usage-pageobject-include %}{% include usage-pageobject.md %}{% endcapture %}
                {{ usage-pageobject-include | markdownify }}
            </div>
            <div class="col-lg-6">
                <span class="glyphicon glyphicon-chevron-left visible-lg-block"></span>
                <img src="./assets/images/usage-pageobject.png" alt="Sign in page" />
            </div>
        </div>
        <h3>Implement Test</h3>
        <div class="row home-usage-section">
            <div class="col-lg-6">
                {% capture usage-test-include %}{% include usage-test.md %}{% endcapture %}
                {{ usage-test-include | markdownify }}
            </div>
            <div class="col-lg-6">
                <span class="glyphicon glyphicon-chevron-right visible-lg-block"></span>
                <img src="./assets/images/usage-test.png" alt="Sign in page with filled data" />
            </div>
        </div>
        <div class="text-center">
            <a href="/getting-started/" class="btn btn-lg btn-default btn-get-started">
                Get Started
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <p>Or check out <a href="/tutorials/">Tutorials</a> for guides and <a href="/examples/">Examples</a> for how to.</p>
        </div>
        <hr class="home-links-border hidden-xs">
        <div class="row home-links hidden-xs">
            <div class="col-sm-3">
                <h4>Atata</h4>
                <a href="https://github.com/atata-framework/atata">
                    <img src="https://img.shields.io/github/stars/atata-framework/atata.svg?style=social&label=Star" alt="Atata on GitHub" />
                </a>
                <br>
                <a href="https://www.nuget.org/packages/Atata/">
                    <img src="https://img.shields.io/nuget/v/Atata.svg?logoWidth=4" alt="Atata on NuGet" />
                </a>
            </div>
            <div class="col-sm-3">
                <h4>Atata.<wbr>WebDriverSetup</h4>
                <a href="https://github.com/atata-framework/atata-webdriversetup">
                    <img src="https://img.shields.io/github/stars/atata-framework/atata-webdriversetup.svg?style=social&label=Star" alt="Atata.WebDriverSetup on GitHub" />
                </a>
                <br>
                <a href="https://www.nuget.org/packages/Atata.WebDriverSetup/">
                    <img src="https://img.shields.io/nuget/v/Atata.WebDriverSetup.svg?logoWidth=4" alt="Atata.KendoUI on NuGet" />
                </a>
            </div>
            <div class="col-sm-3">
                <h4>Atata.<wbr>Configuration.<wbr>Json</h4>
                <a href="https://github.com/atata-framework/atata-configuration-json">
                    <img src="https://img.shields.io/github/stars/atata-framework/atata-configuration-json.svg?style=social&label=Star" alt="Atata.Configuration.Json on GitHub" />
                </a>
                <br>
                <a href="https://www.nuget.org/packages/Atata.Configuration.Json/">
                    <img src="https://img.shields.io/nuget/v/Atata.Configuration.Json.svg?logoWidth=4" alt="Atata.Configuration.Json on NuGet" />
                </a>
            </div>
            <div class="col-sm-3">
                <h4>Atata.<wbr>Bootstrap</h4>
                <a href="https://github.com/atata-framework/atata-bootstrap">
                    <img src="https://img.shields.io/github/stars/atata-framework/atata-bootstrap.svg?style=social&label=Star" alt="Atata.Bootstrap on GitHub" />
                </a>
                <br>
                <a href="https://www.nuget.org/packages/Atata.Bootstrap/">
                    <img src="https://img.shields.io/nuget/v/Atata.Bootstrap.svg?logoWidth=4" alt="Atata.Bootstrap on NuGet" />
                </a>
            </div>
        </div>
    </div>
</div>
