<footer class="at-docs-footer footer">
    <div class="container">
        <p class="text-muted">
            &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
            |
            <a href="/blog/2023/06/22/atata-2.8.0-released/">v2.8.0</a>
            |
            <a href="{{ site.links.atata_github }}">Atata on GitHub</a>
            |
            <a href="{{ site.links.atata_gitter }}">Atata on Gitter</a>
            |
            <a href="{{ site.links.atata_nuget }}">Atata on NuGet</a>
            |
            <a href="/feed.xml">RSS</a>
            |
            <a href="{{ site.links.atata_twitter }}">@AtataFramework</a>
        </p>
    </div>
</footer>