<footer class="at-docs-footer footer">
    <div class="container">
        <p class="text-muted">
            &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
            |
            <a href="/blog/2019/06/13/atata-1.2.0-released/">v1.2.0</a>
            |
            <a href="{{ site.links.atata_github }}">Atata on GitHub</a>
            |
            <a href="{{ site.links.atata_gitter }}">Atata on Gitter</a>
            |
            <a href="{{ site.links.atata_nuget }}">Atata on NuGet</a>
            |
            <a href="/feed.xml">RSS</a>
            |
            <a href="{{ site.links.atata_twitter }}" class="twitter-follow-button" data-show-count="false">Follow @AtataFramework</a>
        </p>
    </div>
</footer>