<footer class="at-docs-footer footer">
    <div class="container">
        <p class="text-muted">
            &copy; 2016-{{ site.time | date: '%Y' }} {{ site.author.name }}
            |
            <a href="/blog/2025/12/11/atata-3.8.0-released/">v3.8.0</a>
            |
            <a href="{{ site.links.atata_github }}">Atata on GitHub</a>
            |
            <a href="{{ site.links.atata_nuget }}">Atata on NuGet</a>
            |
            <a href="{{ site.links.atata_slack_invite }}">Join Slack</a>
            |
            <a href="{{ site.links.atata_twitter }}">@AtataFramework</a>
        </p>
    </div>
</footer>