<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.name }} - {{ site.short_description }}">
<meta name="author" content="{{ site.author.name }}">
<title>{% if page.title %}{{ page.title}} - {{ site.name }}{% else %}{{ site.name }} - {{ site.short_description }}{% endif %}</title>
<!-- CSS -->
<link href="{{ baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ baseurl }}/assets/css/styles.min.css" rel="stylesheet">
<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ baseurl }}/assets/images/atata_logo.png">
<link rel="shortcut icon" href="{{ baseurl }}/favicon.ico" type="image/x-icon">