<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Atata - C#/.NET test automation framework">
<meta name="author" content="Yevgeniy Shunevych">
<title>{% if page.title %}{{ page.title + " - " + site.name }}{% else %}{{ site.name }}{% endif %}</title>
<!-- CSS -->
<link href="{{ baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ baseurl }}/assets/css/styles.min.css" rel="stylesheet">
<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ baseurl }}/apple-touch-icon.png">
<link rel="icon" href="{{ baseurl }}/favicon.ico">