<nav class="at-docs-nav navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header {% if page.url == "/" %}active{% endif %}">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for link in site.nav_links %}
                {% assign linkRelative = "/" | append: link[1]  | append: "/" %}
                {% assign linkRelativeLength = linkRelative | size %}
                {% assign pageUrlTruncated = page.url | slice: 0, linkRelativeLength %}
                <li {% if pageUrlTruncated == linkRelative %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/{{ link[1] }}/">{{ link[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>