<nav class="at-docs-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header {% if page.url == "/" %}active{% endif %}">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for link in site.nav_links %}
                {% assign linkRelative = "/" | append: link[1]  | append: "/" %}
                {% if link[0] == "Attributes" %}
                <li class="dropdown{% if page.url == "/attributes/" or page.url == "/control-search/" or page.url == "/triggers/" or page.url == "/behaviors/" %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attributes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.url == "/attributes/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/attributes/">About Attributes</a></li>
                        <li {% if page.url == "/control-search/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/control-search/">Control Search</a></li>
                        <li {% if page.url == "/triggers/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/triggers/">Triggers</a></li>
                        <li {% if page.url == "/behaviors/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/behaviors/">Behaviors</a></li>
                    </ul>
                </li>
                {% elsif link[0] == "Verification" %}
                <li class="dropdown{% if page.url == "/verification/" or page.url == "/verification/methods/" %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Verification <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.url == "/verification/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/verification/">About Verification</a></li>
                        <li {% if page.url == "/verification/methods/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/verification/methods/">Verification Methods</a></li>
                    </ul>
                </li>
                {% else %}
                <li {% if page.url == linkRelative %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/{{ link[1] }}/">{{ link[0] }}</a>
                </li>
                {% endif %}
                {% endfor %}
                <li {% if page.url == "/donate/" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/donate/">
                        Donate
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>