<nav class="at-docs-sidebar hidden-print hidden-sm hidden-xs affix" role="complementary">
    <ul class="nav at-docs-sidenav">
        {% assign menu_items = site[page.items] %}
        {% for item in menu_items %}
        <li>
            <a href="#{{ item.name | replace: " ", "-" | replace: "#", "" | downcase }}">{{ item.name }}</a>
            {% if item.items %}
            <ul class="nav">
                {% assign sub_menu_items = item.items %}
                {% for sub_item in sub_menu_items %}
                <li>
                    {% assign sub_item_parts = sub_item | split: "|" %}
                    {% if sub_item_parts.size > 1 %}
                        {% assign sub_item_name = sub_item_parts | first %}
                        {% assign sub_item_id = sub_item_parts | last %}
                    {% else %}
                        {% assign sub_item_name = sub_item %}
                        {% assign sub_item_id = sub_item | downcase | replace: " ", "-" | replace: "#", "" %}
                    {% endif %}
                    <a href="#{{ sub_item_id }}">{{ sub_item_name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>