---
layout: default
title: Tutorials
---
<div class="row">
    <div class="col-md-8 col-md-offset-2" role="main">
        <h1 class="page-header">{{ page.title }}</h1>

        <p>
            As the tutorials you can find the following articles posted on CodeProject:
        </p>
        <ul class="tutorial-list">
            <li>
                <a href="https://www.codeproject.com/Articles/1158365/Atata-New-Test-Automation-Framework">Atata - New Test Automation Framework</a>An introduction to Atata Framework.
            </li>
            <li>
                <a href="https://www.codeproject.com/Articles/1173435/Test-Automation-Using-Atata-Verification-of-Pages">Verification of Web Pages</a>How to verify web page data using different approaches of Atata Framework.
            </li>
            <li>
                <a href="https://www.codeproject.com/Articles/1177317/Test-Automation-Using-Atata-Validation-Messages">Verification of Validation Messages</a>How to verify validation messages on web pages using Atata Framework.
            </li>
            <li>
                {% comment %}<a href="https://www.codeproject.com/Articles/1190753/Test-Automation-Using-Atata-VS-Team-Services">Visual Studio Team Services Configuration</a>How to configure Atata test automation build on Visual Studio Team Services using any browser.{% endcomment %}
                <span>Visual Studio Team Services Configuration</span>How to configure Atata test automation build on Visual Studio Team Services using any browser.
                {% include video.html id="9uAv4P1jUj4" %}
            </li>
            <li>
                <a href="https://www.codeproject.com/Articles/1194445/Test-Automation-Using-Atata-Confirmation-Popups">Handle Confirmation Popups</a>How to handle different confirmation popups using Atata Framework.
                {% comment %}
                {% include video.html id="vkkY_X-A1vg" %}
                {% endcomment %}
            </li>
            <li>
                <a href="multi-browser-configuration-via-fixture-arguments/">Multi-Browser Configuration via Fixture Arguments</a>How to configure multi-browser tests application using NUnit fixture arguments.
            </li>
        </ul>
        <p class="info">
            All sources of the tutorials are hosted on <a href="https://github.com/atata-framework/atata-samples">atata-framework/atata-samples</a> GitHub repository.
        </p>
        <p class="info">
            You can also find interesting <a href="https://github.com/atata-framework/atata-sample-app-tests">atata-framework/atata-sample-app-tests</a> GitHub repository representing automated tests application with 20+ different test cases.
        </p>
    </div>
</div>