/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/*$sidebar-color: #563d7c;*/
$sidebar-color: #D35D2E;

/* By default it's not affixed in mobile views, so undo that */
.at-docs-sidebar.affix {
    position: fixed;
    top: 53px;
    bottom: 0;
    padding-top: 14px;
    overflow-y: auto;
    width: 200px;
}

/*@media (min-width: 768px) {
    .at-docs-sidebar {
        padding-left: 20px;
    }
}*/

/* First level of nav */
ul.at-docs-sidenav {
    margin-bottom: 6px;
}

/* All levels of nav */
.at-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.at-docs-sidebar .nav > li > a:hover,
.at-docs-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: $sidebar-color;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid $sidebar-color;
}

.at-docs-sidebar .nav > .active > a,
.at-docs-sidebar .nav > .active:hover > a,
.at-docs-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: bold;
    color: $sidebar-color;
    background-color: transparent;
    border-left: 2px solid $sidebar-color;
}

/* Nav: second level (shown on .active) */
.at-docs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    padding-bottom: 10px;
}

.at-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: normal;
}

.at-docs-sidebar .nav .nav > li > a:hover,
.at-docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px;
}

.at-docs-sidebar .nav .nav > .active > a,
.at-docs-sidebar .nav .nav > .active:hover > a,
.at-docs-sidebar .nav .nav > .active:focus > a {
    padding-left: 28px;
    font-weight: 500;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .at-docs-sidebar .nav > .active > ul {
        display: block;
    }
}
