body {
  position: relative;
  background-color: #f7f7f7; }
  body > .at-docs-container {
    background-color: white;
    padding-bottom: 14px; }
    body > .at-docs-container > .container {
      padding: 60px 15px 0; }

.footer {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7; }
  .footer > .container {
    padding-top: 10px;
    text-align: center; }

h1.page-header {
  margin-top: 20px; }

h4 {
  margin-top: 20px; }

.header-anchor {
  position: relative;
  display: block;
  top: -60px;
  visibility: hidden; }

.member-anchor {
  position: relative;
  display: inline-block;
  top: -72px;
  visibility: hidden; }

/*.at-docs-container {
    min-height: 800px;
}*/
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */
/*$sidebar-color: #563d7c;*/
/* By default it's not affixed in mobile views, so undo that */
.at-docs-sidebar.affix {
  position: static; }

@media (min-width: 768px) {
  .at-docs-sidebar {
    padding-left: 20px; } }

/* First level of nav */
.at-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px; }

/* All levels of nav */
.at-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676; }

.at-docs-sidebar .nav > li > a:hover,
.at-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #D35D2E;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #D35D2E; }

.at-docs-sidebar .nav > .active > a,
.at-docs-sidebar .nav > .active:hover > a,
.at-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #D35D2E;
  background-color: transparent;
  border-left: 2px solid #D35D2E; }

/* Nav: second level (shown on .active) */
.at-docs-sidebar .nav .nav {
  display: none;
  /* Hide by default, but at >768px, show it */
  padding-bottom: 10px; }

.at-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal; }

.at-docs-sidebar .nav .nav > li > a:hover,
.at-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px; }

.at-docs-sidebar .nav .nav > .active > a,
.at-docs-sidebar .nav .nav > .active:hover > a,
.at-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500; }

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .at-docs-sidebar .nav > .active > ul {
    display: block; }
  /* Widen the fixed sidebar */
  .at-docs-sidebar.affix,
  .at-docs-sidebar.affix-bottom {
    width: 213px; }
  .at-docs-sidebar.affix {
    position: fixed;
    /* Undo the static from mobile first approach */
    top: 20px; }
  .at-docs-sidebar.affix-bottom {
    position: absolute;
    /* Undo the static from mobile first approach */ }
  .at-docs-sidebar.affix-bottom .at-docs-sidenav,
  .at-docs-sidebar.affix .at-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .at-docs-sidebar.affix-bottom,
  .at-docs-sidebar.affix {
    width: 263px; } }

.at-docs-sidebar.affix {
  top: 78px; }

@media (min-width: 480px) {
  table.table-members td:nth-child(1) {
    width: 160px; } }

table.table-members td:nth-child(1) code {
  background: none;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px; }

table.table-members td:nth-child(1) span[title=Required] {
  color: red;
  float: right; }

table.table-members code {
  white-space: nowrap; }

@media (min-width: 480px) {
  table.table-members.table-members-with-type td:nth-child(2) {
    width: 160px; } }

table.table-members.table-members-with-type td:nth-child(2) a {
  text-decoration: underline; }

table.table-members.table-members-with-type td:nth-child(2) code {
  color: #2B91AF;
  background: none;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px; }
  table.table-members.table-members-with-type td:nth-child(2) code.simple {
    color: #0000FF; }

table.table-members.table-members-fixed-col-1 td:nth-child(1) {
  width: 320px; }
  table.table-members.table-members-fixed-col-1 td:nth-child(1) code {
    white-space: normal; }

.class-reference {
  color: #2B91AF;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  text-decoration: underline; }

a.enum-value-reference:focus, a.enum-value-reference:hover {
  text-decoration: none; }

a.enum-value-reference code {
  text-decoration: underline; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-header.active > a,
.navbar-default .navbar-header.active > a:focus,
.navbar-default .navbar-header.active > a:hover {
  background-color: inherit;
  color: #D35D2E; }

.navbar-default .navbar-nav > .active {
  border-bottom: 2px solid #D35D2E; }

@media (min-width: 768px) {
  .navbar-default .navbar-nav a {
    padding-left: 8px;
    padding-right: 8px; }
  .navbar-default .navbar-header a {
    padding-right: 8px; } }

h1.home-header {
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 1px;
  color: white;
  position: relative;
  z-index: 2; }

@media (min-width: 480px) {
  h2.home-header {
    text-align: center; } }

.home-top-background {
  position: absolute;
  left: 0;
  top: 162px;
  right: 0;
  height: 227px;
  background-color: #D35D2E;
  z-index: 1; }

.home-description {
  margin-bottom: 14px;
  position: relative;
  z-index: 2; }
  .home-description > p {
    color: white;
    margin: 0 0 18px;
    display: block; }

.home-links-background {
  position: absolute;
  background-color: #EEEEEE;
  left: 0;
  right: 0;
  height: 496px;
  z-index: 0; }
  @media (min-width: 768px) {
    .home-links-background {
      height: 135px; } }

.home-links a {
  display: inline-block;
  margin-bottom: 3px; }
  .home-links a img {
    height: 20px; }

.logo-container {
  background-color: white;
  width: 228px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4px;
  position: relative;
  z-index: 2; }

h1, h2, h3, h4, h5, h6 {
  color: #465C66; }

code.language-nugetpm {
  padding: 20px;
  background-color: black;
  color: white;
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px; }

p.warning {
  border-left: 4px solid #FF923F;
  padding: 6px 12px; }

p.info {
  border-left: 4px solid #1F90AD;
  padding: 6px 12px; }

p.file-name {
  margin-bottom: 0;
  font-style: italic;
  padding-left: 6px; }
  p.file-name code {
    background-color: transparent; }

.highlighter-rouge .hll {
  background-color: #ffffcc; }

.highlighter-rouge {
  background: #f8f8f8; }

.highlighter-rouge .c {
  color: #408080;
  font-style: italic; }

/* Comment */
.highlighter-rouge .err {
  border: 1px solid #FF0000; }

/* Error */
.highlighter-rouge .k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
.highlighter-rouge .o {
  color: #666666; }

/* Operator */
.highlighter-rouge .cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
.highlighter-rouge .cp {
  color: #BC7A00; }

/* Comment.Preproc */
.highlighter-rouge .c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
.highlighter-rouge .cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
.highlighter-rouge .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlighter-rouge .ge {
  font-style: italic; }

/* Generic.Emph */
.highlighter-rouge .gr {
  color: #FF0000; }

/* Generic.Error */
.highlighter-rouge .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlighter-rouge .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlighter-rouge .go {
  color: #808080; }

/* Generic.Output */
.highlighter-rouge .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.highlighter-rouge .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlighter-rouge .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlighter-rouge .gt {
  color: #0040D0; }

/* Generic.Traceback */
.highlighter-rouge .kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
.highlighter-rouge .kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
.highlighter-rouge .kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
.highlighter-rouge .kp {
  color: #008000; }

/* Keyword.Pseudo */
.highlighter-rouge .kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
.highlighter-rouge .kt {
  color: #B00040; }

/* Keyword.Type */
.highlighter-rouge .m {
  color: #666666; }

/* Literal.Number */
.highlighter-rouge .s {
  color: #BA2121; }

/* Literal.String */
.highlighter-rouge .na {
  color: #7D9029; }

/* Name.Attribute */
.highlighter-rouge .nb {
  color: #008000; }

/* Name.Builtin */
.highlighter-rouge .nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
.highlighter-rouge .no {
  color: #880000; }

/* Name.Constant */
.highlighter-rouge .nd {
  color: #AA22FF; }

/* Name.Decorator */
.highlighter-rouge .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.highlighter-rouge .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.highlighter-rouge .nf {
  color: #0000FF; }

/* Name.Function */
.highlighter-rouge .nl {
  color: #A0A000; }

/* Name.Label */
.highlighter-rouge .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.highlighter-rouge .nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.highlighter-rouge .nv {
  color: #19177C; }

/* Name.Variable */
.highlighter-rouge .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.highlighter-rouge .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlighter-rouge .mf {
  color: #666666; }

/* Literal.Number.Float */
.highlighter-rouge .mh {
  color: #666666; }

/* Literal.Number.Hex */
.highlighter-rouge .mi {
  color: #666666; }

/* Literal.Number.Integer */
.highlighter-rouge .mo {
  color: #666666; }

/* Literal.Number.Oct */
.highlighter-rouge .sb {
  color: #BA2121; }

/* Literal.String.Backtick */
.highlighter-rouge .sc {
  color: #BA2121; }

/* Literal.String.Char */
.highlighter-rouge .sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
.highlighter-rouge .s2 {
  color: #BA2121; }

/* Literal.String.Double */
.highlighter-rouge .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.highlighter-rouge .sh {
  color: #BA2121; }

/* Literal.String.Heredoc */
.highlighter-rouge .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.highlighter-rouge .sx {
  color: #008000; }

/* Literal.String.Other */
.highlighter-rouge .sr {
  color: #BB6688; }

/* Literal.String.Regex */
.highlighter-rouge .s1 {
  color: #BA2121; }

/* Literal.String.Single */
.highlighter-rouge .ss {
  color: #19177C; }

/* Literal.String.Symbol */
.highlighter-rouge .bp {
  color: #008000; }

/* Name.Builtin.Pseudo */
.highlighter-rouge .vc {
  color: #19177C; }

/* Name.Variable.Class */
.highlighter-rouge .vg {
  color: #19177C; }

/* Name.Variable.Global */
.highlighter-rouge .vi {
  color: #19177C; }

/* Name.Variable.Instance */
.highlighter-rouge .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
.highlighter-rouge .hll {
  background-color: #ffffcc; }

.highlighter-rouge .c {
  color: #008000; }

/* Comment */
.highlighter-rouge .err {
  border: 1px solid #FF0000; }

/* Error */
.highlighter-rouge .k {
  color: #0000ff; }

/* Keyword */
.highlighter-rouge .cm {
  color: #008000; }

/* Comment.Multiline */
.highlighter-rouge .cp {
  color: #0000ff; }

/* Comment.Preproc */
.highlighter-rouge .c1 {
  color: #008000; }

/* Comment.Single */
.highlighter-rouge .cs {
  color: #008000; }

/* Comment.Special */
.highlighter-rouge .ge {
  font-style: italic; }

/* Generic.Emph */
.highlighter-rouge .gh {
  font-weight: bold; }

/* Generic.Heading */
.highlighter-rouge .gp {
  font-weight: bold; }

/* Generic.Prompt */
.highlighter-rouge .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlighter-rouge .gu {
  font-weight: bold; }

/* Generic.Subheading */
.highlighter-rouge .kc {
  color: #0000ff; }

/* Keyword.Constant */
.highlighter-rouge .kd {
  color: #0000ff; }

/* Keyword.Declaration */
.highlighter-rouge .kn {
  color: #0000ff; }

/* Keyword.Namespace */
.highlighter-rouge .kp {
  color: #0000ff; }

/* Keyword.Pseudo */
.highlighter-rouge .kr {
  color: #0000ff; }

/* Keyword.Reserved */
.highlighter-rouge .kt {
  color: #2b91af; }

/* Keyword.Type */
.highlighter-rouge .s {
  color: #a31515; }

/* Literal.String */
.highlighter-rouge .nc {
  color: #2b91af; }

/* Name.Class */
.highlighter-rouge .ow {
  color: #0000ff; }

/* Operator.Word */
.highlighter-rouge .sb {
  color: #a31515; }

/* Literal.String.Backtick */
.highlighter-rouge .sc {
  color: #a31515; }

/* Literal.String.Char */
.highlighter-rouge .sd {
  color: #a31515; }

/* Literal.String.Doc */
.highlighter-rouge .s2 {
  color: #a31515; }

/* Literal.String.Double */
.highlighter-rouge .se {
  color: #a31515; }

/* Literal.String.Escape */
.highlighter-rouge .sh {
  color: #a31515; }

/* Literal.String.Heredoc */
.highlighter-rouge .si {
  color: #a31515; }

/* Literal.String.Interpol */
.highlighter-rouge .sx {
  color: #a31515; }

/* Literal.String.Other */
.highlighter-rouge .sr {
  color: #a31515; }

/* Literal.String.Regex */
.highlighter-rouge .s1 {
  color: #a31515; }

/* Literal.String.Single */
.highlighter-rouge .ss {
  color: #a31515; }

/* Literal.String.Symbol */
.highlighter-rouge > pre.highlight {
  background-color: white; }

.github-corner {
  position: absolute;
  right: 0;
  margin-top: -31px; }
  .github-corner > svg {
    fill: #fff;
    color: #D35D2E;
    position: absolute;
    top: 0;
    border: 0;
    right: 0; }
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out; }
  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none; }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out; } }

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0); }
  20%, 60% {
    transform: rotate(-25deg); }
  40%, 80% {
    transform: rotate(10deg); } }

@media (min-width: 1200px) {
  .home-usage-section pre.highlight {
    height: 335px; } }

.home-usage-section pre.highlight {
  padding-right: 0; }

.home-usage-section img {
  width: 555px;
  height: 335px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; }

.home-usage-section span.glyphicon {
  position: absolute;
  left: -17px;
  top: 149px;
  font-size: 2.5em;
  color: #3384CC; }

.btn-get-started {
  margin-top: 20px;
  margin-bottom: 16px; }

.tutorial-list li {
  margin-bottom: 10px; }
  .tutorial-list li a {
    font-size: 1.2em;
    font-weight: bold;
    display: block; }

.meta .date {
  font-style: italic; }

.label.label-issue-type {
  display: inline-block;
  width: 38px;
  padding: 3px 0;
  position: relative;
  top: -1px; }

.post-footer {
  margin-top: 12px;
  margin-bottom: 8px;
  border-top: 1px solid #eee;
  padding-top: 4px; }
  .post-footer .post-comment-link {
    margin-right: 14px; }
  .post-footer .share-buttons {
    position: relative;
    top: 1px;
    left: -7px; }

img.bordered-image {
  border: 1px solid #ccc;
  border-radius: 4px; }

/* Share buttons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em; }

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top; }

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle; }

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none; }

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none; }

.resp-sharing-button--twitter {
  background-color: #55acee; }

.resp-sharing-button--twitter:hover {
  background-color: #2795e9; }

.resp-sharing-button--pinterest {
  background-color: #bd081c; }

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615; }

.resp-sharing-button--facebook {
  background-color: #3b5998; }

.resp-sharing-button--facebook:hover {
  background-color: #2d4373; }

.resp-sharing-button--tumblr {
  background-color: #35465C; }

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c; }

.resp-sharing-button--reddit {
  background-color: #5f99cf; }

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1; }

.resp-sharing-button--google {
  background-color: #dd4b39; }

.resp-sharing-button--google:hover {
  background-color: #c23321; }

.resp-sharing-button--linkedin {
  background-color: #0077b5; }

.resp-sharing-button--linkedin:hover {
  background-color: #046293; }

.resp-sharing-button--email {
  background-color: #777; }

.resp-sharing-button--email:hover {
  background-color: #5e5e5e; }

.resp-sharing-button--xing {
  background-color: #1a7576; }

.resp-sharing-button--xing:hover {
  background-color: #114c4c; }

.resp-sharing-button--whatsapp {
  background-color: #25D366; }

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851; }

.resp-sharing-button--hackernews {
  background-color: #FF6600; }

.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
  background-color: #FB6200; }

.resp-sharing-button--vk {
  background-color: #507299; }

.resp-sharing-button--vk:hover {
  background-color: #43648c; }

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998; }

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373; }

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee; }

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9; }

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39; }

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321; }

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C; }

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c; }

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777; }

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e; }

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5; }

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293; }

