@import "variables";

body {
    position: relative;
    background-color: #f7f7f7;

    > .at-docs-container {
        background-color: white;
        padding-bottom: 14px;

        > .container-fluid {
            padding: 60px 15px 0;

            &.home-container-fluid {
                padding-top: 0;
            }
        }

        img {
            max-width: 100%;
            height: auto;

            &.block {
                display: block;
            }
        }

        .post-list {
            p.lead {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .at-docs-content {
        margin-left: 215px;
    }
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;

    > .container {
        padding-top: 10px;
        text-align: center;
    }
}

h1.page-header {
    margin-top: 20px;
}

h4 {
    margin-top: 20px;
}

@media (max-width: 767px) {
    ul, ol {
        padding-left: 17px;
    }
}

.header-anchor {
    position: relative;
    display: block;
    top: -60px;
    visibility: hidden;
}

.member-anchor {
    position: relative;
    display: block;
    top: -70px;
    visibility: hidden;
    width: 0;
    height: 0;
}

@import "sidebar";
/*@import "share-buttons";*/
@import "pygments-default";
/*@import "pygments-vs";*/
@import "pygments-cs";

table.table-members {
    td:nth-child(1) {
        @media (min-width : 480px) {
            width: 160px;
        }

        code {
            background: none;
            font-size: 1em;
            padding-left: 1px;
            padding-right: 1px;
        }

        span[title=Required] {
            color: red;
            float: right;
        }
    }

    code {
        white-space: nowrap;
    }

    &.table-members-with-type {
        td:nth-child(2) {
            @media (min-width : 480px) {
                width: 160px;
            }

            a {
                text-decoration: underline;
            }

            code {
                color: $type-color;
                background: none;
                font-size: 1em;
                padding-left: 1px;
                padding-right: 1px;

                &.simple {
                    color: #0000FF;
                }
            }
        }
    }

    &.table-members-fixed-col-1 {
        td:nth-child(1) {
            width: 320px;

            code {
                white-space: normal;
            }
        }
    }
}

.class-reference {
    color: $type-color;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-decoration: underline;
}

a.enum-reference {
    color: $type-color;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    text-decoration: underline;

    span {
        color: $regular-code-color;
    }
}

a.enum-value-reference {
    &:focus, &:hover {
        text-decoration: none;
    }

    code {
        text-decoration: underline;
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-header.active > a,
.navbar-default .navbar-header.active > a:focus,
.navbar-default .navbar-header.active > a:hover {
    background-color: inherit;
    color: $primary-color;
}

.navbar-default .navbar-nav > .active {
    border-bottom: 2px solid $primary-color;
}

$navbar-md-padding-horizontal: 5px;

@media (min-width: 768px) {
    @media (max-width: 855px) {
        .navbar-default .navbar-nav a {
            font-size: 0.82em;
        }
    }
    @media (max-width: 1048px) {
        .navbar-default .navbar-nav a {
            padding-left: $navbar-md-padding-horizontal;
            padding-right: $navbar-md-padding-horizontal;
        }
    }

    .navbar-default .navbar-header a {
        padding-right: $navbar-md-padding-horizontal;
    }
}

.menu-item-highlighted {
    font-weight: bold;
}

.home-top-container {
    background-color: #FAFAFA;
    margin-top: 51px;

    .logo-container {
        width: 228px;
        text-align: center;
        margin: 0 auto;
        padding-top: 7px;
    }

    .home-top-inner-container {
        background-color: $primary-color;
        padding: 5px 15px 10px 15px;

        h1.home-header {
            text-align: center;
            font-size: 90px;
            font-weight: bold;
            margin-top: 7px;
            margin-bottom: 0;
            color: white;
        }

        .home-description {
            > p {
                color: white;
                margin: 0 0 12px 0;
                font-size: 40px;

                @media (max-width: 767px) {
                    font-size: 26px;
                }
            }
        }

        .home-primary-links {
            .btn {
                /*background-color: white;
                color: #3384CC;*/
                font-weight: bold;
                border-radius: 18px;
                border-width: 0;
                margin: 2px;
                min-width: 135px;
                display: inline-block;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .ukraine-container {
        background: linear-gradient(0deg, #F9EAA0 50%, #3A7EC5 50%);
        padding: 0.5em 1em 0.5em 1em;

        h2 {
            text-align: center;
            color: white;
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }
    }
}

h2.home-header {
    margin-top: 25px;
    margin-bottom: 10px;

    &.borderless {
        border: none;
    }

    @media (min-width: 480px) {
        text-align: center;
    }
}

hr.home-links-border {
    margin-top: 14px;
    margin-bottom: 0;
    border-top-color: $border-color;
}

.home-links {
    a {
        display: inline-block;
        margin-bottom: 3px;

        img {
            height: 20px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #465C66;
    word-break: break-word;
    overflow-wrap: break-word;
}

code.language-nugetpm {
    padding: 20px;
    background-color: black;
    color: white;
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

p.warning {
    border-left: 4px solid #FF923F;
    padding: 4px 10px;
}

p.info {
    border-left: 4px solid #1F90AD;
    padding: 4px 10px;
}

p.file-name {
    margin-bottom: 0;
    font-style: italic;
    padding-left: 6px;

    code {
        background-color: transparent;
    }
}

div.highlighter-rouge {
    position: relative;

    pre.highlight {
        background-color: white;
        border-color: $border-color;
        padding: 7px 10px;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.3;

        @media (max-width: 767px) {
            line-height: 1.1;
        }

        > code {
            white-space: inherit;

            @media (max-width: 767px) {
                font-size: 0.8em;
            }
        }
    }

    &.html::after, &.page-object::after, &.test::after, &.attribute::after {
        position: absolute;
        top: 0;
        right: 0;
        color: #aaa;
        text-align: right;
        font-size: 0.75em;
        font-weight: bold;
        padding: 5px;
    }

    &.html::after {
        content: "HTML";
    }

    &.page-object::after {
        content: "PAGE OBJECT";
    }

    &.test::after {
        content: "TEST";
    }

    &.attribute::after {
        content: "ATTRIBUTE";
    }
}

code.highlighter-rouge {
    word-break: break-word;
    overflow-wrap: break-word;
    color: #9E1E40;
    font-size: 1em;
    background: none;
}

.github-corner {
    position: absolute;
    right: 0;
    margin-top: -31px;

    > svg {
        fill: #fff;
        color: #D35D2E;
        position: absolute;
        top: 0;
        border: 0;
        right: 0;
    }

    &:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }

    @media (max-width:500px) {
        &:hover .octo-arm {
            animation: none;
        }

        .octo-arm {
            animation: octocat-wave 560ms ease-in-out;
        }
    }
}
/*@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0);
    }

    20%,60% {
        transform: rotate(-25deg);
    }

    40%,80% {
        transform: rotate(10deg);
    }
}*/
div.home-usage-section {
    div.highlighter-rouge pre.highlight {
        padding: 9.5px 0 9.5px 8px;

        @media (min-width: 1200px) {
            height: 335px;
        }
    }

    img {
        width: 555px;
        border: 1px solid $border-color;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    span.glyphicon {
        position: absolute;
        left: -17px;
        top: 149px;
        font-size: 2.5em;
        color: #3384CC;
    }
}

.btn-get-started {
    margin-top: 20px;
    margin-bottom: 10px;
}

.link-item-list {
    li {
        margin-bottom: 10px;

        a {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.meta {
    .date {
        font-style: italic;
    }
}

.label.label-issue-type {
    display: inline-block;
    width: 38px;
    padding: 3px 0;
    position: relative;
    top: -1px;
}

.blog-links {
    @media (min-width: 768px) {
        position: absolute;
        top: 17px;
        right: 15px;
    }

    @media (min-width: 992px) {
        top: 37px;
        right: 15px;
    }
}

.post-list {
    > .post-list-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

.glyphicon-fire {
    color: #FF6A00;
}

/*.post-footer {
    margin-top: 12px;
    border-top: 1px solid #eee;
    padding-top: $share-buttons-margin * 2;
    padding-bottom: $share-buttons-margin * 2;

    .post-comment-link-wrapper {
        float: left;

        @media (max-width: 479px) {
            width: 100%;
        }
    }

    .post-comment-link {
        vertical-align: baseline;
        margin-right: $share-buttons-margin * 3;
        margin-top: $share-buttons-margin;
        margin-bottom: $share-buttons-margin;
    }
}*/

img.bordered-image {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lead-footer {
    margin-top: 20px;
}

.contact-container {
    dd {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.video-sm {
    max-width: 560px;
}

.member {
    color: #000;
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: Consolas,Menlo,Monaco,"Courier New",monospace !important;

    &.member-enum-value {
        margin-top: 14px;
        margin-bottom: 4px;

        h3 {
            margin-left: 0;
        }

        .member-anchor {
            top: -64px;
        }
    }

    .head {
        font-size: .75em;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        color: #000;
        font-size: 17px;
        margin-left: 40px;

        @media (max-width: 767px) {
            font-size: 14px;
            margin-left: 20px;
        }

        .body {
            &[title=Required]:after {
                content: "*";
                color: red;
            }
        }

        .tail {
            &:before {
                content: "\200B";
            }
        }
    }

    a {
        text-decoration: underline;
    }

    .type {
        color: $type-color;
    }

    .keyword {
        color: $keyword-color;
    }

    .string {
        color: $string-color;
    }

    .where {
        font-size: .75em;
        margin-left: 80px;
        display: block;

        @media (max-width: 767px) {
            margin-left: 40px;
        }
    }
}

ul.member-list {
    > li {
        margin: 10px 0 10px 0;
    }

    .member {
        color: #000;
        font-size: 17px;

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.download-sample-section {
    > a {
        display: inline-block;
    }
}

.at-docs-footer {
    a {
        display: inline-block;
    }
}

div.html-example {
    margin-bottom: 10px;
}

.embed-responsive-150 {
    padding-bottom: 150px;
}

.bg-white {
    background-color: white;
}

.donation-option {
    margin-top: 6px;
    margin-bottom: 6px;

    .donation-option-description {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
