<!DOCTYPE html>
<html lang="en">
<head>
    {% include head-meta.html %}
    <!-- CSS -->
    <link href="http://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2018.2.620/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2018.2.620/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/js/jquery-3.1.0.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
</head>
<body>
    {{ content }}
</body>
</html>