---
layout: default
---
<div class="row">
    <div class="col-md-9" role="main">
        <h1 class="page-header">{{ page.title }}</h1>
        {{ content }}
    </div>
    <div class="col-md-3" role="complementary">
        <nav class="at-docs-sidebar hidden-print hidden-sm hidden-xs affix">
            <ul class="nav at-docs-sidenav">
                {% assign menu_items = site[page.items] %}
                {% for item in menu_items %}
                <li>
                    <a href="#{{ item | downcase }}">{{ item }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>